---
import SectionLayout from '../layouts/SectionLayout.astro';
import TerminalHeader from '../components/TerminalHeader.astro';
import Hero from '../components/Hero.astro';
---

<SectionLayout title="About Me | Kavintha Kulasingham" sectionId="about">
  <main class="min-h-screen py-12 px-4">
    <div class="terminal-window">
      <TerminalHeader />
      <div class="terminal-body">
        <Hero />
      </div>
    </div>
  </main>
</SectionLayout>
