---
import SectionLayout from '../layouts/SectionLayout.astro';
import TerminalHeader from '../components/TerminalHeader.astro';
import Contact from '../components/Contact.astro';
---

<SectionLayout title="Contact & Links | Kavintha Kulasingham" sectionId="contact">
  <main class="min-h-screen py-12 px-4">
    <div class="terminal-window">
      <TerminalHeader />
      <div class="terminal-body">
        <Contact />
      </div>
    </div>
  </main>
</SectionLayout>
