---
import SectionLayout from '../layouts/SectionLayout.astro';
import TerminalHeader from '../components/TerminalHeader.astro';
import Experience from '../components/Experience.astro';
---

<SectionLayout title="Work Experience | Kavintha Kulasingham" sectionId="experience">
  <main class="min-h-screen py-12 px-4">
    <div class="terminal-window">
      <TerminalHeader />
      <div class="terminal-body">
        <Experience />
      </div>
    </div>
  </main>
</SectionLayout>
